<script>
    function confirmLogout() {
        if (!confirm("Do you want to logout?")) {
            event.preventDefault();
        }
    }
</script>
<div class="container">
    <h1>Counter app</h1>
    <div class="buttons">
        <i>Hello, {{username}}</i>
        <form action="/logout" method="post" class="ml-05" onsubmit="confirmLogout()">
            <input type="submit" value="Logout">
        </form>
    </div>
    <div class="mt-05">
        <div class="buttons">
            <form action="/increment" method="post">
                <input type="submit" value="Increment">
            </form>
            {{#if counter}}
            <form action="/decrement" method="post">
                <input class="ml-05" type="submit" value="Decrement">
            </form>
            {{/if}}
        </div>
    </div>
    <div class="counter">
        {{#if counter}}
        Your counter value is {{counter}}.
        {{/if}}
    </div>

</div>