<h1>Login</h1>

<form action="/login" method="post">
    <div>
        <div>
            <input type="text" name="username" autocomplete="off" >
        </div>
        <div>
            <input class="mt-05" type="submit" value="Login">
        </div>
    </div>
</form>
